# Ignore the contents of the _site directory and other cache directories
_site/
_talks/
_teaching/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json

# Ignore specific files
_publications/2009-10-01-paper-title-number-1.md
